.background {
    background-image: url(../assets/images/hero-background.png), url(../assets/images/book-trace-background.png);
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 65rem, 100% 25rem;

    @media (width >= 45em) {
        background-size: 100rem, 100% 25rem;
    }
}

#product {
    background: radial-gradient(circle, rgba(63, 15, 65, .7), rgba(63, 15, 65, 0) 65%) no-repeat;
}

#subscription {
    background: radial-gradient(circle, rgba(8, 35, 60, .6) 0%, rgba(8, 35, 60, 0) 65%) no-repeat;
}